<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/admin/product_list.css">
</head>
<body>
<header id="header">
    <div id="top">
        <div class="sns">
            <ul>
                <li><a href="https://www.facebook.com/ikmyeongshop" target="_blank"><img src="/static/img/header/top_btn_sns1.png" alt=""></a></li>
                <li><a href="https://www.instagram.com/anonymous_ikmsang/" target="_blank"><img src="/static/img/header/top_btn_sns2.png" alt=""></a></li>
            </ul>
            <ul>
                <li><a href="/account/login">로그인</a></li>
                <li><a href="/account/register">회원가입</a></li>
                <li><a href="/order/cart">장바구니0</a></li>
                <li><a href="/mypage/index">마이페이지</a></li>
                <li><a href="#">고객센터</a></li>
                <li><a href="#"><img src="/static/img/header/top_btn_search.png" alt=""></a></li>
            </ul>
        </div>
        <div class="logo">
            <a href="#"><img src="/static/img/header/event_left.png" alt=""></a>
            <a href="/main/index"><img src="/static/img/header/logo.png" alt=""></a>
            <a href="#"><img src="/static/img/header/event_right.png" alt=""></a>
        </div>
        <nav  class="nav">
            <ul>
                <li><a href="/goods/DOll">DOLL</a></li>
                <li><a href="/goods/FIGURE&TOY">FIGURE & TOY</a></li>
                <li><a href="/goods/FANCY">FANCY</a></li>
                <li><a href="/goods/ACCESSORY">ACCESSORY</a></li>
                <li><a href="/goods/LIVING">LIVING</a></li>
                <li><a href="/goods/KITCHEN">KITCHEN & BATHROOM</a></li>
                <li><a href="/goods/MOBILE">MOBILE</a></li>
                <li><a href="/goods/깨꾹이">깨꾹이</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div id="container">
        <div class="location_cont">
            <em><a class="local_home" href="/">HOME</a> > 관리자 페이지</em>
        </div>
        <div class="contents">
            <div class="content-side">
                <h2 class="content-side-title">관리자 페이지</h2>
                <div class="side-content-menulist">상품정보
                    <a class="side-content-menu" href="/">- 상품조회</a>
                    <a class="side-content-menu" href="/">- 상품등록</a>
                    <a class="side-content-menu" href="/">- 상품재고관리</a>
                </div>
                <div class="side-content-menulist">로그아웃
                    <a class="side-content-menu" href="/">- 로그아웃</a>
                </div>
            </div>
            <div class="product-mst">
                <div class="list-container">
                  <div class="option-container">
                    <ul class="page-number-list">
                        <li><button>1</button></li>
                        <li><button>2</button></li>
                        <li><button>3</button></li>
                        <li><button>4</button></li>
                        <li><button>5</button></li>
                    </ul>
                    <button class="product-button" type="button">조회</button>
                  </div>
            <section class="admin-main">
                <table class="product-mst-list">
                    <thead>
                      <tr>
                        <th>상품코드</th>
                        <th>카테고리</th>
                        <th>상품명</th>
                        <th>디자인</th>
                        <th>가격</th>
                        <th>상세</th>
                        <th>수정</th>
                        <th>삭제</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>상품코드</th>
                            <th>카테고리</th>
                            <th>상사진</th>
                            <th>이쁨</th>
                            <th>19999</th>
                            <th><button>보기</button></th>
                            <th><button>수정</button></th>
                            <th><button>삭제</button></th>
                        </tr>
                        <!-- <tr>
                            <th>상품코드</th>
                            <th>카테고리</th>
                            <th>상사진</th>
                            <th>이쁨</th>
                            <th>19999</th>
                            <th><button>보기</button></th>
                            <th><button>수정</button></th>
                            <th><button>삭제</button></th>
                        </tr>
                        <tr>
                            <th>상품코드</th>
                            <th>카테고리</th>
                            <th>상사진</th>
                            <th>이쁨</th>
                            <th>19999</th>
                            <th><button>보기</button></th>
                            <th><button>수정</button></th>
                            <th><button>삭제</button></th>
                        </tr>
                        <tr>
                            <th>상품코드</th>
                            <th>카테고리</th>
                            <th>상사진</th>
                            <th>이쁨</th>
                            <th>19999</th>
                            <th><button>보기</button></th>
                            <th><button>수정</button></th>
                            <th><button>삭제</button></th>
                        </tr> -->
                    </tbody>
                </table>

            </section>  

        </div>
    </div>
</main>
<script src="/static/js/admin/product_list.js"></script>
</body>
</html>