<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <script src="https://code.jquery.com/jquery-latest.min.js"></script>-->
    <link rel="stylesheet" href="/static/css/account/reset.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/account/login.css">
    <link rel="stylesheet" href="/static/css/aside.css">
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div id="top">
                <div class="sns">
                    <ul>
                        <li><a href="https://www.facebook.com/ikmyeongshop" target="_blank"><img src="/static/img/header/top_btn_sns1.png" alt=""></a></li>
                        <li><a href="https://www.instagram.com/anonymous_ikmsang/" target="_blank"><img src="/static/img/header/top_btn_sns2.png" alt=""></a></li>
                    </ul>
                    <ul>
                        <li><a href="/account/login">로그인</a></li>
                        <li><a href="/account/register">회원가입</a></li>
                        <li><a href="/order/cart">장바구니0</a></li>
                        <li><a href="/mypage/index">마이페이지</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#"><img src="/static/img/header/top_btn_search.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="logo">
                    <a href="#"><img src="/static/img/header/event_left.png" alt=""></a>
                    <a href="/main/index"><img src="/static/img/header/logo.png" alt=""></a>
                    <a href="#"><img src="/static/img/header/event_right.png" alt=""></a>
                </div>
                <nav  class="nav">
                    <ul>
                        <li class="nav1"><a href="/goods/goods_list">DOLL</a></li>
                        <li class="nav1"><a href="#">FIGURE & TOY</a></li>
                        <li><a href="#">FANCY</a></li>
                        <li><a href="#">ACCESSORY</a></li>
                        <li><a href="#">LIVING</a></li>
                        <li><a href="#">KITCHEN & BATHROOM</a></li>
                        <li><a href="#">MOBILE</a></li>
                        <li><a href="#">깨꾹이</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <h1 class="admin-tittle">ADMIN PRODTUCT ADD</h1>
        <div class="admin-container">
            <aside class="admin-menus">
                <ul>
                    <li><a href="/admin/product">상품 조회</a></li>
                    <li><a href="/admin/product/addition">상품 등록</a></li>
                    <li><a href="/admin/system">시스템 정보</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                </ul>
            </aside>
            <section class="admin-main">
                <select class="product-inputs">
                    <option value="none">상품 종류</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </section>
        </div>
    </div>
    <script src="/static/js/account/login.js"></script>
</body>
</html>